---
---

// Colors
$primary: #3E885B;
$primary-dark: #a01b16;
$secondary: #f88379;
$black: #2f2f41;
$white: #ffffff;
$white-offset: #F8F8F8;
$steel: #5c5a5a;

// new pallette
$night: #0F0E13;
// white here
$champagne: #F7E1C7;
$sea-green: #3E885B;
$imperial-red: #FB3640;

// Links
$link-color: $primary;
$link-decoration: none;
$link-hover-color: lighten($primary, 10%);
$link-hover-decoration: underline;

// Fonts
$font-family-base: "nimbus-sans", sans-serif;
$font-family-heading: "new-spirit", serif;

// Footer
$footer-background-color: #f7e1c7;
$footer-text-color: $black;
$sub-footer-background-color: darken(#f7e1c7, 10%);
$sub-footer-text-color: $black;

// Bootstrap
@import "bootstrap-variables";
@import "bootstrap/bootstrap-reboot";
@import "bootstrap/bootstrap-grid";
// @import 'bootstrap/bootstrap'; // Uncomment this line to import the entire Bootstrap library

// Libraries
@import "libraries/hamburgers/hamburgers";

// Components
@import "components/type";
@import "components/page";
@import "components/header";
@import "components/footer";
@import "components/sub-footer";
@import "components/logo";
@import "components/main-menu";
@import "components/main-menu-mobile";
@import "components/hamburger";
@import "components/buttons";
@import "components/call";
@import "components/title";
@import "components/content";
@import "components/intro";
@import "components/intro-image";
@import "components/strip";
@import "components/feature";
@import "components/social";
@import "components/forms";
// @import "components/fonts"; // Uncomment this line to self host font

// Pages
@import "pages/page-home";
@import "pages/page-teams";
@import "pages/page-service";

body {
  font-size: 16px;
  line-height: 1.2;
  font-family: $font-family-base;
  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 1.3;
  }
}

.masonry {
  column-count: 2;
  column-gap: 16px;
}
.masonry img {
  width: 90%;
  margin-bottom: 16px;
}
@media (max-width: 800px) {
  .masonry {
    column-count: 1;
  }
}