.intro-image {
  width: 100%;
  height: auto;
}
.intro-image-absolute {
  max-width: none;

  padding: 0;
  margin-bottom: 30px;
}
.intro-image-hide-mobile {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}
