---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
        {% if page.show_call_box %}
          {% include call.html show_button=true %}
        {% endif %}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="strip-grey">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      {% assign limit = site.home.limit_services | default: 3 %}
      {% for service in site.services limit: limit %}
      <div class="col-12 col-md-4 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <div class="service-header pb-4">
              {% if service.featuredImage %}
              <img src="{{ service.featuredImage }}" height="100px" width="100px"/>
              {% endif %}
              <h2 class="service-title">{{ service.title }}</h2>
            </div>
            <p>{{ service.content | markdownify | strip_html | truncate: 500 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="strip-white">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8 mb-1">
            <div class="row align-items-center ml-0 mb-2">
                <image src="images/rumbo/app-icon.png" alt="Rumbo Icon" class="small-image rounded mr-1">
                <h2>Rumbo</h2>
            </div>
            <p>Rumbo is an easily shared bi-lingual mobile application that helps both Spanish-speaking and non-Spanish-speaking Latino individuals with substance use and/or behavioral health challenges find and access culturally appropriate treatment services and related supportive resources.</p>
        </div>
        <div class="col-12 col-md-4 mb-1">
            <img src="images/rumbo/1.png" alt="Rumbo Screenshot" class="intro-image"/>
        </div>
    </div>
  </div>
</div>

<!-- {% if site.data.features %}
<div class="strip strip-grey">
  <div class="container pb-6 pb-md-10">
    <div class="row justify-content-center">

      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}" width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %} -->
